---
---

@import "{{ site.theme }}";

.page-header {
    padding-top: 1rem;
    padding-bottom: 0.01rem;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #808;
    background-image: linear-gradient(45deg, #000, #808);
}

.main-content {
    h1, h2, h3, h4, h5, h6 {
        color: #808;
    }
}